@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 25px #e4e4e4;
  z-index: 999;
}

nav {
  margin: auto;
  max-width: 1160px;
  width: 90%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__img img {
  padding: 5px 0;
}

.search__img {
  cursor: pointer;
}
.menu__hamburguer {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
}
.menu__button {
  color: #414141;
  display: block;
  border-top: 4px solid;
  width: 38px;
  transition: 0.4s;
}

.menu__button::after,
.menu__button::before {
  content: "";
  display: block;
  width: 38px;
  height: 4px;
  background: currentColor;
  margin-top: 6px;
  transition: 0.5s;
  position: relative;
  z-index: 99999999;
}

.activeMenu.menu__button {
  border-top: transparent;
}

.activeMenu.menu__button::before {
  transform: rotate(135deg);
}

.activeMenu.menu__button::after {
  transform: rotate(-135deg);
  top: -10px;
}
.home__container {
  padding-top: 58px;
  max-width: 1920px;
  width: 100%;
  margin: auto;
}
.home__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 15%;
  z-index: 1;
  background-color: rgba(197, 197, 197, 0.432);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 16px;
  margin-left: 10%;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 32px;
  color: #ffffff;
}

h1 strong {
  color: #f778b9;
}

h5 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 32px;
  margin-bottom: 12px;
  color: #ffffff;
}
.home__text p {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #ffffff;
}
.home__slide {
  margin: auto;
  overflow: hidden;
}

.slide {
  display: none;
  align-items: center;
}

.slide img {
  max-width: 1920px;
  min-height: 480px;
  width: 100%;
  object-fit: cover;
  object-position: 70%;

  margin: auto;
}
.slide.activeSlide {
  display: flex;
  animation: slide 3s forwards;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes slideMenuReverse {
  from {
    left: 0;
  }

  to {
    left: -425px;
  }
}

.menu__options {
  position: fixed;
  max-width: 425px;
  width: 100%;
  height: 100vh;
  display: none;
  top: 58px;
  left: 0;
  flex-direction: column;
  justify-content: flex-start;

  padding: 16px;
  background-color: #ffffff;
  z-index: 2;
  overflow-x: auto;
  box-shadow: 0 0 25px #e4e4e4;
}
.menu__options.activeMenu {
  display: flex;
  left: 0;
  animation: slideMenu 0.5s forwards;
}
.closeMenuSlide {
  display: flex;
  animation: slideMenuReverse 0.5s forwards;
  left: -425px;
}

@keyframes slideMenu {
  from {
    left: -425px;
  }

  to {
    left: 0;
  }
}
@keyframes slideMenuReverse {
  from {
    left: 0;
  }

  to {
    left: -425px;
  }
}

.search__container input {
  position: relative;
  width: 100%;
  height: 52px;
  border: 1px solid #b378ff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  outline: none;
  color: #414141;
}

.search__button {
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 24px;
  background-color: #b378ff;
  border: none;
  padding: 10px;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.search__button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.menu__options p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #b378ff;
}
.menu__options span {
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
}
.menu__options ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #414141;
}
.menu__options ul li a:hover {
  color: #b378ff;
  transition: all 0.3s ease;
}

.modal__newsletter {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.432);
  backdrop-filter: blur(2px);
  display: none;
  transition: all ease 0.5s;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: none;
}

.modal__body {
  position: relative;
  width: 418px;
  height: 407px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px #414141;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-image: url(img/img-newsletter.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.modal__newsletter--close {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 1.75rem;
  color: #265e6c;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__newsletter--close:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.modal__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal__content p {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: bold;
  color: #65baa6;
  margin: 70px 0 70px 0;
}

.modal__newsletter.activeNewsLetter {
  display: flex;
}
.publi__slide {
  margin: auto;
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4e4e4;
  justify-content: center;
  padding: 20px 60px 20px 60px;
}
.publi__slide img {
  width: 100%;
}

.latest__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1160px;
  width: 90%;
}

main {
  margin: auto;
  max-width: 1920px;
  width: 100%;
}

.latest__news {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  overflow: hidden;
}

h3 {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  color: #414141;
  padding-top: 20px;
  padding-bottom: 8px;
}

.separator {
  margin: auto;
  width: 70px;
  height: 4px;
  background-color: #95e7d4;
  margin-bottom: 32px;
}

.latest__content {
  max-width: 561px;
  width: 100%;
}
.latest__content img {
  max-width: 561px;
  width: 100%;
  border-radius: 5px;
}

.latest__content p {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  color: #414141;
  padding-top: 20px;
  flex-wrap: wrap;
  line-height: 32px;
  padding-bottom: 48px;
}

.main__news {
  margin: auto;
  max-width: 1160px;
  width: 90%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  overflow: hidden;
}

.main__container {
  width: 100%;
  display: flex;
  background-color: #f8f7fb;
  padding: 60px 0;
}

.main__primary {
  max-width: 561px;
}

.main__primary img {
  width: 100%;
}

h2 {
  display: flex;
  align-items: center;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 2rem;
  color: #000000;
  margin: 32px 0 16px 0;
}
h2::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 32px;
  margin-right: 12px;
  background: #95e7d4;
}
.main__primary p {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  color: #414141;
  line-height: 32px;
}

.main__secundary {
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: hidden;
}
.main__secundary a {
  min-width: 400px;
  display: flex;
  align-items: flex-start;
}
.main__img {
  max-width: 235px;
  width: 100%;
}

.main__img img {
  width: 100%;
  border-radius: 5px;
}

.main__text {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}

h4 {
  display: flex;
  align-items: center;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

h4::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 24px;
  margin-right: 4px;
  background: #95e7d4;
}
.main__text p {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  color: #414141;
  line-height: 32px;
  margin-left: 8px;
}

.publicity__recommended img {
  max-width: 333px;
  width: 100%;
}

.publicity__mobile {
  display: none;
}

.comments__container {
  margin-top: 32px;
  width: 100%;
  background-color: #f8f7fb;
}

.comments {
  margin: auto;
  max-width: 1160px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comments__phrase {
  max-width: 550px;
  text-align: center;
  font-family: "Merriweather", serif;
  line-height: 32px;
  font-size: 1rem;
  font-style: italic;
  margin-top: 16px;
  color: #414141;
}
.comments__name {
  font-family: "Merriweather", serif;
  font-weight: bold;
  line-height: 32px;
  font-size: 1rem;
  margin-top: 16px;
}
.comments ul {
  display: flex;
  gap: 20px;
}
.comments ul li {
  margin: 16px 0 24px 0;
  width: 8px;
  height: 8px;
  background-color: #414141;
  border-radius: 50%;
}

.faq__container {
  margin: auto;
  max-width: 1160px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
.faq {
  width: 70%;
  display: flex;
  align-items: center;
}
.faq__list {
  width: 100%;

  display: flex;
  flex-direction: column;
}

h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 32px;
  margin-bottom: 24px;
  color: #000000;
  cursor: pointer;
}

h6::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 14px;
  background-color: #95e7d4;
  margin-right: 8px;
}

h6 i {
  margin-left: 8px;
}

.faq__list dd {
  width: 80%;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  color: #414141;
  line-height: 32px;
  margin: 0 0 12px 32px;
  display: none;
}

h6 i.faq-active {
  color: #265e6c;
}

.faq__list dd.faq-active {
  display: block;
  animation: slideFaq 0.5s forwards;
}
@keyframes slideFaq {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 100px;
  }
}

.faq__img {
  width: 40%;
  display: flex;
  align-items: center;
}

.faq__img img {
  max-width: 387px;
  width: 100%;
}

.contacto__container {
  width: 100%;
  background-color: #f8f7fb;
  padding-bottom: 32px;
}

.contact {
  margin: auto;
  max-width: 1160px;
  width: 90%;
  display: flex;
  gap: 50px;
}

.contact__img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__img img {
  max-width: 353px;
  width: 100%;
}

.contact__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input__text {
  max-width: 360px;
  width: 100%;
  height: 53px;
  margin-bottom: 16px;
  border: none;
  border: 1px solid #b5c4e2;
  border-radius: 5px;
  outline: none;
  color: #65baa6;
  font-size: 1rem;
  padding-left: 16px;
}
.contact__form textarea {
  max-width: 360px;
  width: 100%;
  height: 148px;
  resize: none;
  margin-top: 8px;
  border: none;
  border: 1px solid #b5c4e2;
  border-radius: 5px;
  outline: none;
  color: #b378ff;
  font-size: 1rem;
  padding: 16px;
}

.input__checkbox {
  width: 360px;
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.input__checkbox input {
  all: unset;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  margin-right: 16px;
  border: none;
  outline: none;
  border: 1px solid #b5c4e2;
}
.input__checkbox input:checked {
  background-color: #95e7d4;
}
.input__checkbox p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: #b5c4e2;
}
.contact__form input::placeholder,
textarea::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #b5c4e2;
}

.form__button {
  max-width: 360px;
  width: 100%;
  height: 56px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #95e7d4;
  color: #ffffff;
}
.form__button:hover {
  background-color: #265e6c;
  transition: all 0.5s ease;
}

footer {
  background-color: #265e6c;
  padding: 55px 0 24px 0;
}

.footer__container {
  width: 90%;
  margin: auto;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo p {
  max-width: 454px;
  width: 100%;
  margin-left: 24px;
  font-family: "Merriweather", serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -2%;
  color: #ffffff;
}

.footer__separator {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.footer__separator--mobile {
  display: none;
  margin-top: 16px;
  justify-content: center;
}
.footer__separator img {
  max-width: 980px;
  width: 100%;
}

.footer__options ul {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 48px;
}
.footer__options a {
  display: flex;
  color: #e4e4e4;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

a img:hover {
  color: #f778b9;
  transform: scale(1.05);
  transition: all 0.5s ease;
}
a p:hover {
  color: #f778b9;
  transition: all 0.5s ease;
}

@media (max-width: 1200px) {
  .main__secundary {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .main__text {
    min-width: 10px;
  }

  h4 {
    font-size: 1rem;
  }
  h4::before {
    height: 20px;
  }
  .main__text p {
    font-size: 0.75rem;
    line-height: 24px;
  }
  h6 {
    font-size: 1.2rem;
  }

  .faq__list dd {
    font-size: 0.75rem;
  }
  .home__text {
    top: 12%;
    margin-left: 5%;
  }
}
@media (max-width: 1000px) {
  .main__news {
    gap: 20px;
  }

  .main__secundary a {
    min-width: 220px;
  }

  .main__secundary {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  h2 {
    font-size: 1.2rem;
    margin: 16px 0 8px 0;
  }

  .main__primary p {
    font-size: 0.75rem;
  }
  h6 {
    font-size: 1rem;
  }
  h6::before {
    width: 18px;
    height: 10px;
  }
  .footer__options ul {
    gap: 32px;
  }
  .footer__options a {
    font-size: 0.75rem;
  }
}
@media (max-width: 768px) {
  .menu__options {
    top: 38px;
    height: 100vh;
    justify-content: flex-start;
  }
  .home__container {
    padding-top: 38px;
  }
  .menu__img img {
    width: 140px;
  }

  .menu__button {
    border-top: 3px solid;
    width: 25px;
  }

  .menu__button::after,
  .menu__button::before {
    width: 25px;
    height: 3px;
  }
  .home__text {
    margin-left: 5%;
    top: 8%;
  }
  .slide img {
    min-height: 290px;
  }
  h1 {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.75rem;
    margin-bottom: 0;
    line-height: 24px;
  }
  .home__text p {
    font-size: 0.5rem;
    line-height: 16px;
  }
  .inactive {
    display: none;
  }
  .main__news {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 1.25rem;
  }
  .latest-news--news p {
    padding-bottom: 24px;
  }
  .main__container {
    padding: 20px 0;
  }
  .main__secundary a {
    align-items: flex-start;
  }
  .publicity__mobile {
    width: 100%;
    margin-top: 24px;
    padding: 10px 0;
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
  }
  .modal__newsletter.activeNewsLetter {
    display: none;
  }
  .comments__phrase {
    font-size: 0.75rem;
  }
  .faq__list {
    align-items: center;
  }
  h6 {
    font-size: 0.75rem;
    margin-bottom: 0;
  }

  .faq_-list dd {
    max-width: 300px;
    width: 100%;
    font-size: 0.64rem;
    line-height: 22px;
  }
  .contact {
    display: flex;
    justify-content: center;
  }
  h6::before {
    width: 18px;
    height: 10px;
  }
  .faq {
    width: 90%;
  }
  .contact__form {
    width: 100%;
  }
  .footer__options ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__separator--mobile {
    display: flex;
  }
  .footer__logo {
    flex-direction: column;
  }
  .footer__logo img {
    margin-bottom: 24px;
  }
  .footer__options ul {
    gap: 16px;
  }
  .footer__logo p {
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  nav {
    width: 95%;
  }
  .faq {
    width: 100%;
  }

  .menu__options {
    width: 100%;
  }

  .home__text {
    margin-left: 3%;
  }
  .main__secundary {
    width: 100%;
    margin-right: 0;
  }
  h6::before {
    width: 10px;
    height: 8px;
  }
}
